.main-contacto {
    @extend .flex-center;
    .titulo {
        font-family: $fuente-titulos;
    }
}

.section-contacto {
    width: 35vw;
}

.div-form-contacto {

    display: flex;
    flex-direction: column;
    input{
        border-radius: 9px;
        &:hover{
            background-color: rgb(229, 229, 229);
        }
    }
    label {
        margin: 10px;
    }

    .consulta{
        height: 80px;
    }
    
    .submit {
        margin-top: 20px;
        margin-bottom: 10px;
    }
}

.mapa {
    width: 35vw;
    margin-top: 20px;
}

// MEDIA QUERY PARA MOBILE

@media (max-width: 800px) {
    .section-contacto{
        width: 80vw;
    }   
    .mapa{
        width: 80vw;
    }
}