.main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    //para que el footer no vuele
    min-height: 84vh;
}

.hero {
    position: relative;
    background-image: url(../resourses/hero-index.jpg);
    background-size: cover;
    background-position: center;
    height: 100vh; 
    display: flex; 
    flex-direction: column;
    justify-content: center; 
    align-items: center; 
    text-align: center;
    margin: 20px;
    padding-bottom: 25vh;

    h1 {
        color: rgba(0, 0, 0, 0.995);
        font-size: 40px;
        font-style: italic;
        font-family: $fuente-titulos;
        padding: 15px;
        margin: 0;
    }

    h2 {
        color: rgb(0, 0, 0);
        font-size: 30px;
        font-style: italic;
    }
}

.beneficios {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin: 20px;
}

article {
    border: solid black 2px;
    max-width: 30vw;
    @extend .flex-center
}