.main-contacto {
    @extend .flex-center;
}

.titulo {
    font-family: $fuente-titulos;
    font-size: 30px;
}

.section-contacto {
    width: 35vw;
}

.div-form-contacto {

    display: flex;
    flex-direction: column;
}

label {
    margin: 10px;
}

.submit {
    margin-top: 20px;
    margin-bottom: 10px;
}

.mapa {
    width: 35vw;
    margin-top: 20px;
}