//COLORES

$rojo: rgb(183, 20, 20);
$amarillo: rgb(255, 252, 228);
$grisclaro: rgb(219, 219, 219);
$grisoscuro: rgb(142, 142, 142);

//FUENTES

@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');
$fuente-items: "Roboto Condensed", sans-serif;
@import url('https://fonts.googleapis.com/css2?family=Anta&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');
$fuente-titulos: "Anta", sans-serif;