//COLORES

$rojo: rgb(170, 16, 16);
$grisclaro: rgb(203, 203, 203);
$grisoscuro: rgb(142, 142, 142);

//FUENTES

@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');
$fuente-titulos: "Roboto Condensed", sans-serif;
